azure/ai-email-marketing-openai-logic-apps/code/bicep/workflows/EmailMarketingWorkflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "OPENAI_ENDPOINT": {
        "type": "string",
        "metadata": {
          "description": "Azure OpenAI service endpoint URL"
        }
      },
      "OPENAI_KEY": {
        "type": "securestring",
        "metadata": {
          "description": "Azure OpenAI API key"
        }
      },
      "SENDER_EMAIL": {
        "type": "string",
        "metadata": {
          "description": "Sender email address for marketing campaigns"
        }
      },
      "GPT_MODEL_DEPLOYMENT_NAME": {
        "type": "string",
        "defaultValue": "gpt-4o-marketing",
        "metadata": {
          "description": "GPT-4o model deployment name"
        }
      },
      "COMMUNICATION_CONNECTION_STRING": {
        "type": "securestring",
        "metadata": {
          "description": "Azure Communication Services connection string"
        }
      }
    },
    "triggers": {
      "Recurrence": {
        "type": "Recurrence",
        "recurrence": {
          "frequency": "Day",
          "interval": 1,
          "startTime": "2025-01-01T09:00:00Z",
          "timeZone": "UTC"
        },
        "metadata": {
          "description": "Daily trigger for automated email marketing campaigns"
        }
      }
    },
    "actions": {
      "Initialize_Campaign_Parameters": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CampaignData",
              "type": "object",
              "value": {
                "targetAudience": "software developers and IT professionals",
                "companyType": "technology company",
                "campaignGoal": "product awareness",
                "brandTone": "professional and engaging",
                "productCategory": "developer tools"
              }
            }
          ]
        },
        "metadata": {
          "description": "Initialize campaign parameters for AI content generation"
        }
      },
      "Generate_Email_Content": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@concat(parameters('OPENAI_ENDPOINT'), 'openai/deployments/', parameters('GPT_MODEL_DEPLOYMENT_NAME'), '/chat/completions?api-version=2024-08-01-preview')",
          "headers": {
            "Content-Type": "application/json",
            "api-key": "@parameters('OPENAI_KEY')"
          },
          "body": {
            "messages": [
              {
                "role": "system",
                "content": "You are an expert email marketing copywriter. Generate professional email marketing content with engaging subject lines and HTML body content. Always respond with valid JSON format containing 'subject' and 'body' fields. The body should be properly formatted HTML suitable for email delivery."
              },
              {
                "role": "user",
                "content": "@concat('Create a personalized email marketing campaign for a ', variables('CampaignData')['companyType'], '. Target audience: ', variables('CampaignData')['targetAudience'], '. Campaign goal: ', variables('CampaignData')['campaignGoal'], '. Brand tone: ', variables('CampaignData')['brandTone'], '. Include an engaging subject line and HTML body content that is professional and includes a clear call-to-action. Format the response as JSON with \"subject\" and \"body\" fields.')"
              }
            ],
            "max_tokens": 1000,
            "temperature": 0.7,
            "response_format": {
              "type": "json_object"
            }
          }
        },
        "runAfter": {
          "Initialize_Campaign_Parameters": [
            "Succeeded"
          ]
        },
        "metadata": {
          "description": "Generate personalized email content using Azure OpenAI GPT-4o model"
        }
      },
      "Parse_AI_Response": {
        "type": "ParseJson",
        "inputs": {
          "content": "@body('Generate_Email_Content')['choices'][0]['message']['content']",
          "schema": {
            "type": "object",
            "properties": {
              "subject": {
                "type": "string",
                "description": "Email subject line"
              },
              "body": {
                "type": "string",
                "description": "HTML email body content"
              }
            },
            "required": [
              "subject",
              "body"
            ]
          }
        },
        "runAfter": {
          "Generate_Email_Content": [
            "Succeeded"
          ]
        },
        "metadata": {
          "description": "Parse the AI-generated content JSON response"
        }
      },
      "Initialize_Recipients_List": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RecipientsList",
              "type": "array",
              "value": [
                {
                  "email": "test1@example.com",
                  "name": "Test User 1"
                },
                {
                  "email": "test2@example.com",
                  "name": "Test User 2"
                }
              ]
            }
          ]
        },
        "runAfter": {
          "Parse_AI_Response": [
            "Succeeded"
          ]
        },
        "metadata": {
          "description": "Initialize list of email recipients (replace with actual customer data)"
        }
      },
      "For_Each_Recipient": {
        "type": "Foreach",
        "foreach": "@variables('RecipientsList')",
        "actions": {
          "Send_Personalized_Email": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "https://graph.microsoft.com/v1.0/me/sendMail",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "Bearer @{body('Get_Access_Token')['access_token']}"
              },
              "body": {
                "message": {
                  "subject": "@body('Parse_AI_Response')['subject']",
                  "body": {
                    "contentType": "HTML",
                    "content": "@replace(body('Parse_AI_Response')['body'], '{{name}}', items('For_Each_Recipient')['name'])"
                  },
                  "toRecipients": [
                    {
                      "emailAddress": {
                        "address": "@items('For_Each_Recipient')['email']",
                        "name": "@items('For_Each_Recipient')['name']"
                      }
                    }
                  ],
                  "from": {
                    "emailAddress": {
                      "address": "@parameters('SENDER_EMAIL')",
                      "name": "AI Marketing System"
                    }
                  }
                },
                "saveToSentItems": false
              }
            },
            "metadata": {
              "description": "Send personalized email to individual recipient"
            }
          },
          "Log_Email_Sent": {
            "type": "Compose",
            "inputs": {
              "timestamp": "@utcNow()",
              "recipient": "@items('For_Each_Recipient')['email']",
              "subject": "@body('Parse_AI_Response')['subject']",
              "status": "sent"
            },
            "runAfter": {
              "Send_Personalized_Email": [
                "Succeeded"
              ]
            },
            "metadata": {
              "description": "Log successful email delivery"
            }
          }
        },
        "runAfter": {
          "Initialize_Recipients_List": [
            "Succeeded"
          ]
        },
        "metadata": {
          "description": "Iterate through recipients and send personalized emails"
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 5
          }
        }
      },
      "Get_Access_Token": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
          "headers": {
            "Content-Type": "application/x-www-form-urlencoded"
          },
          "body": "grant_type=client_credentials&client_id=@{parameters('CLIENT_ID')}&client_secret=@{parameters('CLIENT_SECRET')}&scope=https://graph.microsoft.com/.default"
        },
        "runAfter": {
          "Initialize_Recipients_List": [
            "Succeeded"
          ]
        },
        "metadata": {
          "description": "Get OAuth token for Microsoft Graph API (alternative to Communication Services)"
        }
      },
      "Campaign_Analytics": {
        "type": "Compose",
        "inputs": {
          "campaignId": "@workflow()['run']['name']",
          "timestamp": "@utcNow()",
          "recipientCount": "@length(variables('RecipientsList'))",
          "subject": "@body('Parse_AI_Response')['subject']",
          "contentLength": "@length(body('Parse_AI_Response')['body'])",
          "aiTokensUsed": "@body('Generate_Email_Content')['usage']['total_tokens']",
          "campaignType": "automated_daily",
          "status": "completed"
        },
        "runAfter": {
          "For_Each_Recipient": [
            "Succeeded"
          ]
        },
        "metadata": {
          "description": "Collect campaign analytics data"
        }
      },
      "Store_Campaign_Metrics": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "https://api.applicationinsights.io/v1/apps/@{parameters('APP_INSIGHTS_APP_ID')}/customEvents",
          "headers": {
            "Content-Type": "application/json",
            "X-API-Key": "@parameters('APP_INSIGHTS_API_KEY')"
          },
          "body": {
            "name": "EmailMarketingCampaign",
            "timestamp": "@utcNow()",
            "customDimensions": "@outputs('Campaign_Analytics')"
          }
        },
        "runAfter": {
          "Campaign_Analytics": [
            "Succeeded"
          ]
        },
        "metadata": {
          "description": "Store campaign metrics in Application Insights"
        }
      }
    },
    "outputs": {
      "campaignSummary": {
        "type": "object",
        "value": "@outputs('Campaign_Analytics')"
      }
    }
  },
  "kind": "Stateful"
}